<article class="article">
        <div class="article__people">
          <div class="article__people-title">Who to follow</div>
          <div class="article__people-content">
            <a href="#" class="article__people-follow">
              <img class="people-follow__photo" src="img/steve_jobs.jpeg"/>
              <span class="people-follow__name">Steve Jobs</span>
              <form action='#'><input class="people-follow__btn" type="submit" value="Follow"></form> <!--action에 php주소 입력-->
            </a>
            <a href="#" class="article__people-follow">
              <img class="people-follow__photo" src="img/tim_cook.jpeg"/>
              <span class="people-follow__name">Tim Cook</span>
              <form action='#'><input class="people-follow__btn" type="submit" value="Follow"></form> <!--action에 php주소 입력-->
            </a>
            <a href="#" class="article__people-follow">
              <img class="people-follow__photo" src="img/jeff_bezos.jpeg"/>
              <span class="people-follow__name">Jeff Bezos</span>
              <form action='#'><input class="people-follow__btn" type="submit" value="Follow"></form> <!--action에 php주소 입력-->
            </a>
          </div>
          <div class="article__show-all"><a href="#">더 보기</a></div>
        </div>

        <div class="article__topic">
          <div class="article__topic-title">Topic you might like</div>
          <div class="article__topic-content">
            <a href="#" class="topic__element">value investing
              <form class="topic__element--btn" action='#'>
                <input type="submit" value="X" class="topic__element--btn-style">
              </form>
            </a>
            <a href="#" class="topic__element">economy
              <form class="topic__element--btn" action='#'>
                <input type="submit" value="X" class="topic__element--btn-style">
              </form>
            </a>
            <a href="#" class="topic__element">stocks
              <form class="topic__element--btn" action='#'>
                <input type="submit" value="X" class="topic__element--btn-style">
              </form>
            </a>
            <a href="#" class="topic__element">deep learning
              <form class="topic__element--btn" action='#'>
                <input type="submit" value="X" class="topic__element--btn-style">
              </form>
            </a>
            <a href="#" class="topic__element">finance
              <form class="topic__element--btn" action='#'>
                <input type="submit" value="X" class="topic__element--btn-style">
              </form>
            </a>
          </div>
          <div class="article__show-all"><a href="#">더 보기</a></div>
        </div>

        <div class="footer">
          <div class="footer__content"><a href="#" >Terms of Service</a></div>
          <div class="footer__content"><a href="#" >Privacy Policy</a></div>
          <div class="footer__content"><a href="#" >Cookie Policy</a></div>
          <div class="footer__content"><a href="#" >Learn More About Us</a></div>
          <div class="footer__content"><a href="#" >© Kogitobooks.com</a></div>
        </div>
</article>