<nav>
        <ul class="nav">
          <li class="nav__row">
            <a href="index.html">
              <i class="fas fa-home"></i>
              <span class="nav__row-text">Home</span>
            </a>
          </li>
          <li class="nav__row">
            <a href="search.html">
              <i class="fas fa-search"></i>
              <span class="nav__row-text">Search</span>
            </a>
          </li>
          <li class="nav__row">
            <a href="mylibrary-playlist.html">
              <i class="fas fa-book"></i>
              <span class="nav__row-text">My library</span>
            </a>
          </li>
          <li class="nav__row">
            <a href="bookmark.html">
              <i class="far fa-bookmark"></i>
              <span class="nav__row-text">Bookmark</span>
            </a>
          </li>
        </ul>
      </nav>